
/* for slider labels */
.sl {
  margin-top: 17px;
  text-align: center;
}

h4 {
  text-align: center;
  color:  #B33771;
  background-color: #ecf0f1;
  margin: 5px;
}

.section {
  border-top: solid #B33771 3px;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}


.section_validation {
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}


/* Okay checkbox */
.validation-checkbox {
  text-align: right;
  color: #5cb85c;
  font-weight: bold;
  font-size: 1.2em;
}



.control-label{
  font-weight: normal;
}

.modal-lg {
  width: 80%;
}



/* Overwrite the limit the width of inputs in the general case. */
/* useful for the validation-checkbox */
.shiny-input-container:not(.shiny-input-container-inline) {
  width: 1000px;
  max-width: 100%;
}






.green-text {
  color: #5cb85c;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
}

.red-text {
  color: #BD3D3A;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
}



.validation-text {
  color: #5cb85c;
}


/* Floating total costs */
@keyframes example {
  0%   {
    background-color: #16a085;
  }
  100% {
    background-color: white;
  }
}

.float-validation {
  top: calc(5%);;
  right: calc(2%);;
  border: 4px solid #16a085;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  z-index: 999999999;
  position: fixed;
  animation-name: example;
  animation-duration: 2s;
}


/* Floating */

/* Floating save */
.float-save {
  top: calc(12%);;
  right: calc(2%);;
  border: 4px solid #e67e22;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  z-index: 999999999;
  position: fixed;
}

@keyframes anim-alert {
  0%   {background-color: white;}
  100% {background-color: #BD3D3A;}
}

.alert {
    padding: 5px;
    background-color: #BD3D3A;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    animation-name: anim-alert;
    animation-duration: 1s;
}

@keyframes anim-okay {
  0%   {background-color: white;}
  100% {background-color: #377eb8;}
}

.infobox {
  padding: 5px;
  background-color: #377eb8; 
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  animation-name: anim-okay;
  animation-duration: 1s;
}